%%-*- mode: erlang -*-

{erl_opts, [debug_info]}.

{deps, [
        {poolboy, ".*", {git, "git://github.com/devinus/poolboy.git", "91b68de43d"}},
		{epgsql, ".*", {git, "git://github.com/wg/epgsql", "3318bd5d64"}},
		{tq_transform, ".*", {git, "git://github.com/egobrain/tq_transform", "b1e9b8cb3f"}},
		{meck, ".*", {git, "https://github.com/eproxus/meck.git", "1286aba1cb"}}
       ]}.
